<div id="fh5co-president" data-section="president">
	<div class="container">
	<div class="col-md-8">
	<img src="img/donearl_johnson.png" class="round-photo">
	  	<p class="caption">Donearl Johnson, Lead Pastor</p>	
  	<h1 class="president-message">Our Story</h1>
  	<p>When we hear the words multicultural or a diversity, we tend to think that these are new concepts or ideas but they’re not. Reaching and redeeming all people was a part of God’s original plan.

In Genesis, we can clearly see the scope of the gospel defined. God promised Abram, while entering a covenant with him that, “I will make you a father of many nations” Yes, a “father” of many nations. In other words, this blessing coming to Abraham would flow through him to bless all people. Note, that at this time Abraham did not have any children, but he believed God!

Now, this was in the beginning. Let’s fast forward this to the end in the book of Revelation, God allowed John to get a sneak preview of the Kingdom! Rev 7:9, John recorded seeing a great multitude, a number that could not be counted made up of people from everywhere all tribes, all kindred, all tongues standing before God and shouting with a loud voice saying “salvation” be on to our God! In other words, no one can save like our God!!

It is in Genesis that we receive this promise, and in Revelation we see the fulfillment of this great promise!

That was the beginning and the end picture and today we have been given the custody of this moment!

We believe God! We believe that right now, the Holy Spirit is moving us, moving the church, moving the kingdom, to this great vision.

</p>
  	
	</div>
	</div>
</div> <!-- END fh5co-president -->
